.PostIcons {
  text-align: right;
  padding-right: 10px;
}

.Post figure,
h5 {
  margin: 0 0;
}

.PostLiked {
  color: #ffa62b;
}

.PostLiked:hover {
  color: #dce1e9;
}

.NotLiked {
  color: #53d8fb;
}

.OwnPostLike,
.OwnPostLike:hover {
  color: #ba3b46;
}

.CardImage {
  display: flex;
  object-fit: contain;
  width: min-content;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.Date {
  padding-left: 6px;
  font-weight: 300;
  font-size: 0.8rem;
  color: #dce1e9;
}
