.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #282925;
  min-height: 100vh;
  color: #dce1e9;
}

.Main {
  padding-top: 80px;
}

.Content {
  background-color: #363732;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(236, 232, 232, 0.6);
  transition: box-shadow ease-in-out 0.1s;
}

* {
  box-sizing: border-box;
}

a {
  color: #dce1e9;
  transition: color ease-in-out 0.3s;
}

a:focus {
  background-color: #363732 !important;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  background-color: #363732 !important;
}

a:hover i {
  color: #ffa62b;
  transition: color ease-in-out 0.3s;
}

i {
  color: #dce1e9;
  font-size: 1.3rem;
  padding: 7px;
  vertical-align: middle;
  transition: color ease-in-out 0.3s;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #ffa62b;
}

figure {
  text-align: center;
  display: inline-block;
}

input[type="file"] {
  display: none;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
