.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fcfbf5;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #7a4f40;
  transition: color ease-in-out 0.3s;
}

i {
  color: #b88776;
  font-size: 1.3rem;
  padding: 7px;
  vertical-align: middle;
  transition: color ease-in-out 0.3s;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #7a4f40;
}
